.space__bg
canvas(id="space" class="space")
.menu#main
	.menu__inner
		.menu__title THE SPACE INVADERS
		.menu__subtitle.menu__subtitle_pc space for shoot<br>arrows for move<br>m for mute / unmute<br>p for pause / unpause
		.menu__subtitle.menu__subtitle_mob tap for shoot<br>tilt for move
		.menu__btn.play PLAY
.menu.i-hidden#end
	.menu__inner
		.menu__subtitle.score
		.menu__title THE END
		.menu__subtitle of human race
		.menu__btn.play PLAY AGAIN
.menu.i-hidden#win
	.menu__inner
		.menu__subtitle.score
		.menu__title WELL DONE EARTHLING
		.menu__subtitle this time you win
		.menu__btn.play PLAY AGAIN
